{
  "extends": ["airbnb-base"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    // "React": true
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "no-unused-vars": 0,
    "class-methods-use-this": 1,
    "quotes": [2, "double"],
    "no-undef": 0
  }
}
