{
  "extends": ["airbnb-base"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "moxios": true,
    "storeMock": true,
    "shallow": true,
    "mount": true,
    "React": true,
    "MemoryRouter": true,
    "toJson": true
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "no-unused-vars": 0,
    "class-methods-use-this": 1,
    "quotes": [2, "double"],
    "no-undef": 0,
    "no-console": 0,
    "no-underscore-dangle": "off",
    "arrow-body-style": 0,
    "semi": [1, "always"],
    "no-trailing-spaces": 1,
    "max-len": ["error", 150, 2],
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default": 0,
    "no-param-reassign": "off",
    "no-case-declarations": "off",
    "prefer-destructuring": "off"
  }
}
